<a href="https://colab.research.google.com/github/NathanKelly1/DataAnalysisProject/blob/main/Has_COVID_changed_air_travel_in_a_substantual_way_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("flightdata.csv")

While studying data analysis we have been shown by our lectuers different libaries we can use to manipulate and clean dataframes. You can see above that I have imported Numpy and Pandas. Numpy is a Linear Algebra Library for Python. Pandas is built on top of Numpy. It provides high-performing and easy to use data structures. I also imported the datafile from https://data.gov.ie/dataset/tam08-passengers-handled-by-main-airports.

In [2]:
 df

,STATISTIC,Statistic Label,TLIST(M1),Month,C02935V03550,Airport,UNIT,VALUE
0,TAM08C01,Passengers,201901,2019 January,EIDW,Dublin,Number,2054794.0
1,TAM08C01,Passengers,201901,2019 January,EICK,Cork,Number,148939.0
2,TAM08C01,Passengers,201901,2019 January,EINN,Shannon,Number,87016.0
3,TAM08C01,Passengers,201901,2019 January,EIKN,Knock,Number,42413.0
4,TAM08C01,Passengers,201901,2019 January,EIKY,Kerry,Number,20829.0
...,...,...,...,...,...,...,...,...
331,TAM08C01,Passengers,202308,2023 August,EICK,Cork,Number,307117.0
332,TAM08C01,Passengers,202308,2023 August,EINN,Shannon,Number,NaN
333,TAM08C01,Passengers,202308,2023 August,EIKN,Knock,Number,101736.0
334,TAM08C01,Passengers,202308,2023 August,EIKY,Kerry,Number,NaN
335,TAM08C01,Passengers,202308,2023 August,EI0M,All main airports,Number,NaN

In [3]:
updated = df.drop(columns=['STATISTIC', 'TLIST(M1)', 'C02935V03550', 'UNIT'])
updated.to_csv('flightdataupdated.csv', index=False)

In [4]:
df["VALUE"].isna().value_counts()

False    331
True       5
Name: VALUE, dtype: int64

In [5]:
updated

    Statistic Label         Month            Airport      VALUE
0        Passengers  2019 January             Dublin  2054794.0
1        Passengers  2019 January               Cork   148939.0
2        Passengers  2019 January            Shannon    87016.0
3        Passengers  2019 January              Knock    42413.0
4        Passengers  2019 January              Kerry    20829.0
..              ...           ...                ...        ...
331      Passengers   2023 August               Cork   307117.0
332      Passengers   2023 August            Shannon        NaN
333      Passengers   2023 August              Knock   101736.0
334      Passengers   2023 August              Kerry        NaN
335      Passengers   2023 August  All main airports        NaN

[336 rows x 4 columns]

In [6]:
updated.describe()

              VALUE
count  3.310000e+02
mean   6.659143e+05
std    1.108293e+06
min    0.000000e+00
25%    2.542650e+04
50%    9.221300e+04
75%    4.309540e+05
max    4.040594e+06

In [7]:
updated.fillna(0)

    Statistic Label         Month            Airport      VALUE
0        Passengers  2019 January             Dublin  2054794.0
1        Passengers  2019 January               Cork   148939.0
2        Passengers  2019 January            Shannon    87016.0
3        Passengers  2019 January              Knock    42413.0
4        Passengers  2019 January              Kerry    20829.0
..              ...           ...                ...        ...
331      Passengers   2023 August               Cork   307117.0
332      Passengers   2023 August            Shannon        0.0
333      Passengers   2023 August              Knock   101736.0
334      Passengers   2023 August              Kerry        0.0
335      Passengers   2023 August  All main airports        0.0

[336 rows x 4 columns]

In [38]:
Aiport = updated.groupby('Airport')
dublinfile = Aiport.get_group('Dublin')
dublinfile.reset_index()

    index Statistic Label           Month Airport      VALUE
0       0      Passengers    2019 January  Dublin  2054794.0
1       6      Passengers   2019 February  Dublin  1993325.0
2      12      Passengers      2019 March  Dublin  2432195.0
3      18      Passengers      2019 April  Dublin  2789660.0
4      24      Passengers        2019 May  Dublin  2965517.0
5      30      Passengers       2019 June  Dublin  3202409.0
6      36      Passengers       2019 July  Dublin  3430859.0
7      42      Passengers     2019 August  Dublin  3399714.0
8      48      Passengers  2019 September  Dublin  3021796.0
9      54      Passengers    2019 October  Dublin  2865397.0
10     60      Passengers   2019 November  Dublin  2240194.0
11     66      Passengers   2019 December  Dublin  2280391.0
12     72      Passengers    2020 January  Dublin  2082481.0
13     78      Passengers   2020 February  Dublin  2030643.0
14     84      Passengers      2020 March  Dublin  1026004.0
15     90      Passengers      2020 April  Dublin    23951.0
16     96      Passengers        2020 May  Dublin    42661.0
17    102      Passengers       2020 June  Dublin    88980.0
18    108      Passengers       2020 July  Dublin   374443.0
19    114      Passengers     2020 August  Dublin   509910.0
20    120      Passengers  2020 September  Dublin   386058.0
21    126      Passengers    2020 October  Dublin   253972.0
22    132      Passengers   2020 November  Dublin   166835.0
23    138      Passengers   2020 December  Dublin   281302.0
24    144      Passengers    2021 January  Dublin   199133.0
25    150      Passengers   2021 February  Dublin    95802.0
26    156      Passengers      2021 March  Dublin   110177.0
27    162      Passengers      2021 April  Dublin   120002.0
28    168      Passengers        2021 May  Dublin   150855.0
29    174      Passengers       2021 June  Dublin   283892.0
30    180      Passengers       2021 July  Dublin   638986.0
31    186      Passengers     2021 August  Dublin  1233212.0
32    192      Passengers  2021 September  Dublin  1330636.0
33    198      Passengers    2021 October  Dublin  1543404.0
34    204      Passengers   2021 November  Dublin  1382610.0
35    210      Passengers   2021 December  Dublin  1177562.0
36    216      Passengers    2022 January  Dublin   969467.0
37    222      Passengers   2022 February  Dublin  1313651.0
38    228      Passengers      2022 March  Dublin  1816453.0
39    234      Passengers      2022 April  Dublin  2369756.0
40    240      Passengers        2022 May  Dublin  2582957.0
41    246      Passengers       2022 June  Dublin  2826982.0
42    252      Passengers       2022 July  Dublin  3038562.0
43    258      Passengers     2022 August  Dublin  3045763.0
44    264      Passengers  2022 September  Dublin  2756408.0
45    270      Passengers    2022 October  Dublin  2689961.0
46    276      Passengers   2022 November  Dublin  2194199.0
47    282      Passengers   2022 December  Dublin  2189186.0
48    288      Passengers    2023 January  Dublin  2091443.0
49    294      Passengers   2023 February  Dublin  2038737.0
50    300      Passengers      2023 March  Dublin  2459390.0
51    306      Passengers      2023 April  Dublin  2811699.0
52    312      Passengers        2023 May  Dublin  3027112.0
53    318      Passengers       2023 June  Dublin  3218315.0
54    324      Passengers       2023 July  Dublin  3425253.0
55    330      Passengers     2023 August  Dublin  3419986.0

In [40]:

dublinfile.to_csv('DublinInfo.csv')

In [41]:

Corkfile = Aiport.get_group('Cork')
Corkfile.reset_index()

    index Statistic Label           Month Airport     VALUE
0       1      Passengers    2019 January    Cork  148939.0
1       7      Passengers   2019 February    Cork  150482.0
2      13      Passengers      2019 March    Cork  174876.0
3      19      Passengers      2019 April    Cork  210510.0
4      25      Passengers        2019 May    Cork  239077.0
5      31      Passengers       2019 June    Cork  278961.0
6      37      Passengers       2019 July    Cork  296876.0
7      43      Passengers     2019 August    Cork  296799.0
8      49      Passengers  2019 September    Cork  238523.0
9      55      Passengers    2019 October    Cork  215482.0
10     61      Passengers   2019 November    Cork  171693.0
11     67      Passengers   2019 December    Cork  163248.0
12     73      Passengers    2020 January    Cork  158078.0
13     79      Passengers   2020 February    Cork  159121.0
14     85      Passengers      2020 March    Cork   80188.0
15     91      Passengers      2020 April    Cork    1140.0
16     97      Passengers        2020 May    Cork    2116.0
17    103      Passengers       2020 June    Cork    4623.0
18    109      Passengers       2020 July    Cork   27631.0
19    115      Passengers     2020 August    Cork   39951.0
20    121      Passengers  2020 September    Cork   22705.0
21    127      Passengers    2020 October    Cork   16714.0
22    133      Passengers   2020 November    Cork    6108.0
23    139      Passengers   2020 December    Cork    8639.0
24    145      Passengers    2021 January    Cork    4849.0
25    151      Passengers   2021 February    Cork    1478.0
26    157      Passengers      2021 March    Cork    2599.0
27    163      Passengers      2021 April    Cork    3796.0
28    169      Passengers        2021 May    Cork    6956.0
29    175      Passengers       2021 June    Cork   14179.0
30    181      Passengers       2021 July    Cork   32001.0
31    187      Passengers     2021 August    Cork   73640.0
32    193      Passengers  2021 September    Cork   28168.0
33    199      Passengers    2021 October    Cork       0.0
34    205      Passengers   2021 November    Cork   14933.0
35    211      Passengers   2021 December    Cork   72415.0
36    217      Passengers    2022 January    Cork   65166.0
37    223      Passengers   2022 February    Cork   96947.0
38    229      Passengers      2022 March    Cork  126210.0
39    235      Passengers      2022 April    Cork  192275.0
40    241      Passengers        2022 May    Cork  204036.0
41    247      Passengers       2022 June    Cork  248904.0
42    253      Passengers       2022 July    Cork  265597.0
43    259      Passengers     2022 August    Cork  269799.0
44    265      Passengers  2022 September    Cork  232410.0
45    271      Passengers    2022 October    Cork  205807.0
46    277      Passengers   2022 November    Cork  166913.0
47    283      Passengers   2022 December    Cork  164391.0
48    289      Passengers    2023 January    Cork  160857.0
49    295      Passengers   2023 February    Cork  157329.0
50    301      Passengers      2023 March    Cork  180655.0
51    307      Passengers      2023 April    Cork  249691.0
52    313      Passengers        2023 May    Cork  262358.0
53    319      Passengers       2023 June    Cork  279671.0
54    325      Passengers       2023 July    Cork  300228.0
55    331      Passengers     2023 August    Cork  307117.0

In [42]:
Corkfile.to_csv('CorkInfo.csv', index = False)

In [43]:
Shannonfile = Aiport.get_group('Shannon')
Shannonfile.reset_index()

    index Statistic Label           Month  Airport     VALUE
0       2      Passengers    2019 January  Shannon   87016.0
1       8      Passengers   2019 February  Shannon   82497.0
2      14      Passengers      2019 March  Shannon  100374.0
3      20      Passengers      2019 April  Shannon  128840.0
4      26      Passengers        2019 May  Shannon  160902.0
5      32      Passengers       2019 June  Shannon  178680.0
6      38      Passengers       2019 July  Shannon  183398.0
7      44      Passengers     2019 August  Shannon  187029.0
8      50      Passengers  2019 September  Shannon  166270.0
9      56      Passengers    2019 October  Shannon  138218.0
10     62      Passengers   2019 November  Shannon  104148.0
11     68      Passengers   2019 December  Shannon   99050.0
12     74      Passengers    2020 January  Shannon   85974.0
13     80      Passengers   2020 February  Shannon   86800.0
14     86      Passengers      2020 March  Shannon   43454.0
15     92      Passengers      2020 April  Shannon      85.0
16     98      Passengers        2020 May  Shannon      17.0
17    104      Passengers       2020 June  Shannon      18.0
18    110      Passengers       2020 July  Shannon   14607.0
19    116      Passengers     2020 August  Shannon   19871.0
20    122      Passengers  2020 September  Shannon   11027.0
21    128      Passengers    2020 October  Shannon    8011.0
22    134      Passengers   2020 November  Shannon    1823.0
23    140      Passengers   2020 December  Shannon    2247.0
24    146      Passengers    2021 January  Shannon    1214.0
25    152      Passengers   2021 February  Shannon     441.0
26    158      Passengers      2021 March  Shannon     667.0
27    164      Passengers      2021 April  Shannon     186.0
28    170      Passengers        2021 May  Shannon     369.0
29    176      Passengers       2021 June  Shannon    9734.0
30    182      Passengers       2021 July  Shannon   23859.0
31    188      Passengers     2021 August  Shannon   47540.0
32    194      Passengers  2021 September  Shannon   53895.0
33    200      Passengers    2021 October  Shannon   71853.0
34    206      Passengers   2021 November  Shannon   63560.0
35    212      Passengers   2021 December  Shannon   48844.0
36    218      Passengers    2022 January  Shannon   42015.0
37    224      Passengers   2022 February  Shannon   57910.0
38    230      Passengers      2022 March  Shannon   81286.0
39    236      Passengers      2022 April  Shannon  123923.0
40    242      Passengers        2022 May  Shannon  135026.0
41    248      Passengers       2022 June  Shannon  148990.0
42    254      Passengers       2022 July  Shannon  164397.0
43    260      Passengers     2022 August  Shannon  159082.0
44    266      Passengers  2022 September  Shannon  141557.0
45    272      Passengers    2022 October  Shannon  133549.0
46    278      Passengers   2022 November  Shannon  115403.0
47    284      Passengers   2022 December  Shannon  118820.0
48    290      Passengers    2023 January  Shannon  105259.0
49    296      Passengers   2023 February  Shannon   96916.0
50    302      Passengers      2023 March  Shannon  126318.0
51    308      Passengers      2023 April  Shannon  171325.0
52    314      Passengers        2023 May  Shannon  178919.0
53    320      Passengers       2023 June  Shannon  196179.0
54    326      Passengers       2023 July  Shannon       NaN
55    332      Passengers     2023 August  Shannon       NaN

In [44]:
Shannonfile.to_csv('ShannonInfo.csv', index = False)

In [45]:
Kerryfile = Aiport.get_group('Kerry')
Kerryfile.reset_index()

    index Statistic Label           Month Airport    VALUE
0       4      Passengers    2019 January   Kerry  20829.0
1      10      Passengers   2019 February   Kerry  22231.0
2      16      Passengers      2019 March   Kerry  25546.0
3      22      Passengers      2019 April   Kerry  32171.0
4      28      Passengers        2019 May   Kerry  34213.0
5      34      Passengers       2019 June   Kerry  36150.0
6      40      Passengers       2019 July   Kerry  40680.0
7      46      Passengers     2019 August   Kerry  39617.0
8      52      Passengers  2019 September   Kerry  35721.0
9      58      Passengers    2019 October   Kerry  31790.0
10     64      Passengers   2019 November   Kerry  25151.0
11     70      Passengers   2019 December   Kerry  25737.0
12     76      Passengers    2020 January   Kerry  21572.0
13     82      Passengers   2020 February   Kerry  22699.0
14     88      Passengers      2020 March   Kerry  11492.0
15     94      Passengers      2020 April   Kerry    110.0
16    100      Passengers        2020 May   Kerry    219.0
17    106      Passengers       2020 June   Kerry    479.0
18    112      Passengers       2020 July   Kerry   6528.0
19    118      Passengers     2020 August   Kerry   8337.0
20    124      Passengers  2020 September   Kerry   5103.0
21    130      Passengers    2020 October   Kerry   3188.0
22    136      Passengers   2020 November   Kerry   1342.0
23    142      Passengers   2020 December   Kerry   1890.0
24    148      Passengers    2021 January   Kerry   1065.0
25    154      Passengers   2021 February   Kerry    406.0
26    160      Passengers      2021 March   Kerry    517.0
27    166      Passengers      2021 April   Kerry    667.0
28    172      Passengers        2021 May   Kerry    935.0
29    178      Passengers       2021 June   Kerry   2699.0
30    184      Passengers       2021 July   Kerry   5380.0
31    190      Passengers     2021 August   Kerry  20811.0
32    196      Passengers  2021 September   Kerry  19235.0
33    202      Passengers    2021 October   Kerry  27229.0
34    208      Passengers   2021 November   Kerry  21588.0
35    214      Passengers   2021 December   Kerry  14866.0
36    220      Passengers    2022 January   Kerry   7158.0
37    226      Passengers   2022 February   Kerry  15579.0
38    232      Passengers      2022 March   Kerry  22099.0
39    238      Passengers      2022 April   Kerry  33828.0
40    244      Passengers        2022 May   Kerry  33047.0
41    250      Passengers       2022 June   Kerry  35218.0
42    256      Passengers       2022 July   Kerry  40073.0
43    262      Passengers     2022 August   Kerry  41433.0
44    268      Passengers  2022 September   Kerry  36563.0
45    274      Passengers    2022 October   Kerry  36143.0
46    280      Passengers   2022 November   Kerry  25883.0
47    286      Passengers   2022 December   Kerry  28019.0
48    292      Passengers    2023 January   Kerry  21563.0
49    298      Passengers   2023 February   Kerry  24612.0
50    304      Passengers      2023 March   Kerry  26172.0
51    310      Passengers      2023 April   Kerry  40955.0
52    316      Passengers        2023 May   Kerry  40825.0
53    322      Passengers       2023 June   Kerry  35828.0
54    328      Passengers       2023 July   Kerry  45902.0
55    334      Passengers     2023 August   Kerry      NaN

In [46]:
Kerryfile.to_csv('KerryInfo.csv', index = False)

In [47]:
Knockfile = Aiport.get_group('Knock')
Knockfile.reset_index()

    index Statistic Label           Month Airport     VALUE
0       3      Passengers    2019 January   Knock   42413.0
1       9      Passengers   2019 February   Knock   45456.0
2      15      Passengers      2019 March   Knock   54700.0
3      21      Passengers      2019 April   Knock   71563.0
4      27      Passengers        2019 May   Knock   73850.0
5      33      Passengers       2019 June   Knock   77020.0
6      39      Passengers       2019 July   Knock   88781.0
7      45      Passengers     2019 August   Knock   94907.0
8      51      Passengers  2019 September   Knock   76300.0
9      57      Passengers    2019 October   Knock   72299.0
10     63      Passengers   2019 November   Knock   55255.0
11     69      Passengers   2019 December   Knock   52899.0
12     75      Passengers    2020 January   Knock   40272.0
13     81      Passengers   2020 February   Knock   45263.0
14     87      Passengers      2020 March   Knock   22436.0
15     93      Passengers      2020 April   Knock       0.0
16     99      Passengers        2020 May   Knock       0.0
17    105      Passengers       2020 June   Knock       0.0
18    111      Passengers       2020 July   Knock    8072.0
19    117      Passengers     2020 August   Knock   13707.0
20    123      Passengers  2020 September   Knock    5734.0
21    129      Passengers    2020 October   Knock    4661.0
22    135      Passengers   2020 November   Knock    1343.0
23    141      Passengers   2020 December   Knock    1044.0
24    147      Passengers    2021 January   Knock     619.0
25    153      Passengers   2021 February   Knock       0.0
26    159      Passengers      2021 March   Knock       0.0
27    165      Passengers      2021 April   Knock       0.0
28    171      Passengers        2021 May   Knock       0.0
29    177      Passengers       2021 June   Knock    2077.0
30    183      Passengers       2021 July   Knock    9505.0
31    189      Passengers     2021 August   Knock   25307.0
32    195      Passengers  2021 September   Knock   34333.0
33    201      Passengers    2021 October   Knock   42943.0
34    207      Passengers   2021 November   Knock   33438.0
35    213      Passengers   2021 December   Knock   25805.0
36    219      Passengers    2022 January   Knock   13820.0
37    225      Passengers   2022 February   Knock   32660.0
38    231      Passengers      2022 March   Knock   39901.0
39    237      Passengers      2022 April   Knock   69961.0
40    243      Passengers        2022 May   Knock   63041.0
41    249      Passengers       2022 June   Knock   67026.0
42    255      Passengers       2022 July   Knock   86617.0
43    261      Passengers     2022 August   Knock   92213.0
44    267      Passengers  2022 September   Knock   73765.0
45    273      Passengers    2022 October   Knock   73188.0
46    279      Passengers   2022 November   Knock   48705.0
47    285      Passengers   2022 December   Knock   48643.0
48    291      Passengers    2023 January   Knock   37639.0
49    297      Passengers   2023 February   Knock   43812.0
50    303      Passengers      2023 March   Knock   51206.0
51    309      Passengers      2023 April   Knock   76913.0
52    315      Passengers        2023 May   Knock   71170.0
53    321      Passengers       2023 June   Knock   81927.0
54    327      Passengers       2023 July   Knock   91189.0
55    333      Passengers     2023 August   Knock  101736.0

In [48]:
Knockfile.to_csv('KnockInfo.csv', index = False)

Mean for the all main airports Before , during and after covid.

This Mean from the period before covid from January 2019 to March 2020

In [57]:
dublin2019 = dublinfile['VALUE']
dublin2019Mean = dublin2019.iloc[[0, 1 , 2, 3, 4,5 ,6, 7 , 8, 9 , 10 , 11 , 12, 13,14]]
dublin2019Mean.mean()

2521025.2666666666

In [58]:
cork2019 = Corkfile['VALUE']
cork2019Mean = cork2019.iloc[[0,1 , 2, 3, 4,5 ,6, 7 , 8, 9 , 10 , 11 , 12, 13,14]]
cork2019Mean.mean()

198856.86666666667

In [59]:
shannon2019 = Shannonfile['VALUE']
shannon2019Mean = shannon2019.iloc[[0,1 , 2, 3, 4,5 ,6, 7 , 8, 9 , 10 , 11 , 12, 13,14]]
shannon2019Mean.mean()

122176.66666666667

In [61]:
Kerry2019 = Kerryfile['VALUE']
kerry2019Mean = Kerry2019.iloc[[0,1 , 2, 3, 4,5 ,6, 7 , 8, 9 , 10 , 11 , 12, 13,14]]
kerry2019Mean.mean()

28373.266666666666

In [62]:
knock2019 = Knockfile['VALUE']
knock2019Mean = knock2019.iloc[[0,1 , 2, 3, 4,5 ,6, 7 , 8, 9 , 10 , 11 , 12, 13,14]]
knock2019Mean.mean()

60894.26666666667

In [63]:
dublinduring = dublinfile['VALUE']
dublinDuringMean = dublinduring.iloc[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
dublinDuringMean.mean()

412326.8947368421

In [64]:
corkduring = Corkfile['VALUE']
corkDuringMean = corkduring.iloc[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
corkDuringMean.mean()

15647.0

In [66]:
shannonduring = Shannonfile['VALUE']
shannonDuringMean = shannonduring.iloc[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
shannonDuringMean.mean()

14077.052631578947

In [67]:
kerryduring = Kerryfile['VALUE']
kerryDuringMean = kerryduring.iloc[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
kerryDuringMean.mean()

5586.315789473684

In [68]:
knockduring = Knockfile['VALUE']
knockDuringMean = knockduring.iloc[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
knockDuringMean.mean()

7860.263157894737

In [69]:
dublinrecovery = dublinfile['VALUE']
dublinrecoveryMean = dublinrecovery.iloc[[34, 35, 36, 37, 38, 39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55]]
dublinrecoveryMean.mean()

2402066.0

In [70]:
corkrecovery = Corkfile['VALUE']
corkrecoveryMean = corkrecovery.iloc[[34, 35, 36, 37, 38, 39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55]]
corkrecoveryMean.mean()

191986.77272727274

In [71]:
shannonrecovery = Shannonfile['VALUE']
shannonrecoveryMean = shannonrecovery.iloc[[34, 35, 36, 37, 38, 39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55]]
shannonrecoveryMean.mean()

120463.9

In [72]:
kerryrecovery = Kerryfile['VALUE']
kerryrecoveryMean = kerryrecovery.iloc[[34, 35, 36, 37, 38, 39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55]]
kerryrecoveryMean.mean()

29874.0

In [73]:
knockrecovery = Knockfile['VALUE']
knockrecoveryMean = knockrecovery.iloc[[34, 35, 36, 37, 38, 39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55]]
knockrecoveryMean.mean()

60198.86363636364